# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
DevDoc.docx
doc/
tools/
backend/upload/
projfiles/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.DS_Store
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/.idea
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?

# OS specific
.DS_Store
Thumbs.db 
id_rsa_2048

# weixin
wxpfiles/
