{% extends "base.html" %}
  {% block content %}
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          编辑资产
          <small>Edit Asset</small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="{% url 'index' %}"><i class="fa fa-dashboard"></i> 主页</a></li>
          <li class="active">编辑资产</li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title">编辑资产信息</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <form method="post" action="{% url 'edit' host.id %}">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit" class="btn btn-primary">保存</button>
                  <a href="{% url 'index' %}" class="btn btn-default">取消</a>
                </form>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </section>
      <!-- /.content -->
    </div>
  {% endblock %}